.home {
    background-color: #fafbfd;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .home .div {
    background-color: #fafbfd;
    width: 1440px;
    height: 1551px;
    position: relative;
  }
  
  .home .overlap {
    position: absolute;
    width: 1230px;
    height: 529px;
    top: 691px;
    left: 101px;
    background-color: #ffffff;
  }
  
  .home .group {
    position: relative;
    width: 1228px;
    height: 529px;
    left: 1px;
  }
  
  .home .table-row {
    display: flex;
    width: 1228px;
    height: 69px;
    align-items: flex-start;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid;
    border-color: #ececec;
  }
  
  .home .frame {
    display: flex;
    flex-direction: column;
    width: 208px;
    align-items: flex-start;
    gap: 10px;
    padding: 10px 20px;
    position: relative;
    align-self: stretch;
    border: 1px solid;
    border-color: #ececec;
  }
  
  .home .text-wrapper {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: "Montserrat-Bold", Helvetica;
    font-weight: 700;
    color: var(--text-color);
    font-size: 16px;
    letter-spacing: 0.10px;
    line-height: 49px;
    white-space: nowrap;
  }
  
  .home .last-name-wrapper {
    display: flex;
    flex-direction: column;
    width: 146px;
    align-items: flex-start;
    gap: 10px;
    padding: 10px 20px;
    position: relative;
    align-self: stretch;
    border: 1px solid;
    border-color: #ececec;
  }
  
  .home .position-wrapper {
    width: 276px;
    height: 69px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    padding: 10px 20px;
    position: relative;
    border: 1px solid;
    border-color: #ececec;
  }
  
  .home .phone-wrapper {
    display: flex;
    flex-direction: column;
    width: 390px;
    align-items: flex-start;
    gap: 10px;
    padding: 10px 0px 10px 20px;
    position: relative;
    align-self: stretch;
    border: 1px solid;
    border-color: #ececec;
  }
  
  .home .phone {
    position: relative;
    width: 113px;
    margin-top: -1.00px;
    font-family: "Montserrat-Bold", Helvetica;
    font-weight: 700;
    color: var(--text-color);
    font-size: 16px;
    letter-spacing: 0.10px;
    line-height: 49px;
  }
  
  .home .table-row-2 {
    top: 69px;
    background-color: #f6f6f6;
    display: flex;
    width: 1228px;
    height: 46px;
    align-items: flex-start;
    position: absolute;
    left: 0;
    border: 1px solid;
    border-color: #ececec;
  }
  
  .home .paragraph {
    color: var(--text-color);
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: "Open Sans-Regular", Helvetica;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.20px;
    line-height: 26px;
    white-space: nowrap;
  }
  
  .home .paragraph-wrapper {
    display: flex;
    flex-direction: column;
    width: 144px;
    align-items: flex-start;
    gap: 10px;
    padding: 10px 20px;
    position: relative;
    align-self: stretch;
    border: 1px solid;
    border-color: #ececec;
  }
  
  .home .div-wrapper {
    width: 275px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    padding: 10px 20px;
    position: relative;
    border: 1px solid;
    border-color: #ececec;
  }
  
  .home .frame-2 {
    display: flex;
    flex-direction: column;
    width: 393px;
    align-items: flex-start;
    gap: 10px;
    padding: 10px 20px;
    position: relative;
    align-self: stretch;
    border: 1px solid;
    border-color: #ececec;
  }
  
  .home .table-row-3 {
    top: 115px;
    display: flex;
    width: 1228px;
    height: 46px;
    align-items: flex-start;
    position: absolute;
    left: 0;
    border: 1px solid;
    border-color: #ececec;
  }
  
  .home .frame-3 {
    display: flex;
    flex-direction: column;
    width: 275px;
    align-items: flex-start;
    gap: 10px;
    padding: 10px 20px;
    position: relative;
    align-self: stretch;
    border: 1px solid;
    border-color: #ececec;
  }
  
  .home .paragraph-2 {
    color: #219653;
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: "Open Sans-Regular", Helvetica;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.20px;
    line-height: 26px;
    white-space: nowrap;
  }
  
  .home .table-row-4 {
    top: 161px;
    background-color: #f6f6f6;
    display: flex;
    width: 1228px;
    height: 46px;
    align-items: flex-start;
    position: absolute;
    left: 0;
    border: 1px solid;
    border-color: #ececec;
  }
  
  .home .table-row-5 {
    top: 207px;
    display: flex;
    width: 1228px;
    height: 46px;
    align-items: flex-start;
    position: absolute;
    left: 0;
    border: 1px solid;
    border-color: #ececec;
  }
  
  .home .table-row-6 {
    top: 253px;
    background-color: #f6f6f6;
    display: flex;
    width: 1228px;
    height: 46px;
    align-items: flex-start;
    position: absolute;
    left: 0;
    border: 1px solid;
    border-color: #ececec;
  }
  
  .home .table-row-7 {
    top: 299px;
    display: flex;
    width: 1228px;
    height: 46px;
    align-items: flex-start;
    position: absolute;
    left: 0;
    border: 1px solid;
    border-color: #ececec;
  }
  
  .home .table-row-8 {
    top: 345px;
    background-color: #f6f6f6;
    display: flex;
    width: 1228px;
    height: 46px;
    align-items: flex-start;
    position: absolute;
    left: 0;
    border: 1px solid;
    border-color: #ececec;
  }
  
  .home .table-row-9 {
    top: 391px;
    display: flex;
    width: 1228px;
    height: 46px;
    align-items: flex-start;
    position: absolute;
    left: 0;
    border: 1px solid;
    border-color: #ececec;
  }
  
  .home .table-row-10 {
    top: 437px;
    background-color: #f6f6f6;
    display: flex;
    width: 1228px;
    height: 46px;
    align-items: flex-start;
    position: absolute;
    left: 0;
    border: 1px solid;
    border-color: #ececec;
  }
  
  .home .table-row-11 {
    top: 483px;
    display: flex;
    width: 1228px;
    height: 46px;
    align-items: flex-start;
    position: absolute;
    left: 0;
    border: 1px solid;
    border-color: #ececec;
  }
  
  .home .text-wrapper-2 {
    position: absolute;
    top: 141px;
    left: 98px;
    font-family: "Open Sans-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 60px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .home .p {
    position: absolute;
    top: 234px;
    left: 98px;
    font-family: "Open Sans-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .home .frame-4 {
    display: flex;
    width: 322px;
    height: 61px;
    align-items: center;
    gap: 14px;
    position: absolute;
    top: 596px;
    left: 667px;
    box-shadow: 0px 0px 10px #5b5b5b1a;
  }
  
  .home .text-wrapper-3 {
    position: relative;
    width: fit-content;
    font-family: "Montserrat-Regular", Helvetica;
    font-weight: 400;
    color: var(--second-text-color);
    font-size: 16px;
    letter-spacing: 0.20px;
    line-height: 28px;
    white-space: nowrap;
  }
  
  .home .form-input {
    display: flex;
    flex-direction: column;
    width: 210px;
    align-items: flex-start;
    gap: 10px;
    position: relative;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #5b5b5b1a;
  }
  
  .home .select {
    margin-right: -1.00px;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .home .option {
    display: inline-flex;
    align-items: center;
    gap: 24px;
    padding: 11px 16px;
    position: relative;
    flex: 0 0 auto;
    background-color: #ffffff;
    border-radius: 5px;
    border: 1px solid;
  }
  
  .home .dropdown {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: "Montserrat-Regular", Helvetica;
    font-weight: 400;
    color: var(--second-text-color);
    font-size: 14px;
    letter-spacing: 0.20px;
    line-height: 28px;
    white-space: nowrap;
  }
  
  .home .vector {
    position: relative;
    width: 14px;
    height: 8px;
  }
  
  .home .frame-5 {
    display: flex;
    width: 342px;
    height: 61px;
    align-items: center;
    gap: 14px;
    position: absolute;
    top: 596px;
    left: 989px;
  }
  
  .home .frame-6 {
    display: inline-flex;
    align-items: flex-start;
    gap: 8px;
    position: relative;
    flex: 0 0 auto;
    box-shadow: 0px 0px 10px #5b5b5b1a;
  }
  
  .home .select-wrapper {
    display: inline-flex;
    position: relative;
    flex: 0 0 auto;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }
  
  .home .select-2 {
    border-radius: 10px;
    box-shadow: 0px 0px 10px #b5b5b51a;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .home .select-3 {
    border-radius: 10px;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .home .input-group-wrapper {
    display: flex;
    width: 307px;
    height: 50px;
    position: absolute;
    top: 602px;
    left: 102px;
    background-color: #ffffff;
    border-radius: 10px;
    border: 1px solid;
    box-shadow: 0px 0px 10px #5b5b5b1a;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }
  
  .home .input-group {
    position: relative;
    width: 258px;
    height: 50px;
    background-color: #ffffff;
    border-radius: 10px;
    overflow: hidden;
  }
  
  .home .overlap-group {
    position: relative;
    height: 50px;
  }
  
  .home .input-group-prepend {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 17px;
    left: 25px;
    background-image: url(./img/icn-search-icn-xs.svg);
    background-size: 100% 100%;
  }
  
  .home .form-control {
    position: absolute;
    width: 258px;
    height: 50px;
    top: 0;
    left: 0;
  }
  
  .home .text-wrapper-4 {
    position: absolute;
    top: 10px;
    left: 60px;
    font-family: "Montserrat-Regular", Helvetica;
    font-weight: 400;
    color: var(--second-text-color);
    font-size: 14px;
    letter-spacing: 0.20px;
    line-height: 28px;
    white-space: nowrap;
  }
  
  .home .pagination {
    position: absolute;
    width: 324px;
    height: 43px;
    top: 1259px;
    left: 102px;
    background-color: var(--light-background-color);
    border-radius: 6.73px;
    overflow: hidden;
    border: 1.35px solid;
    border-color: var(--muted-color);
    box-shadow: 0px 0px 10px #5b5b5b1a;
  }
  
  .home .ul {
    align-items: flex-start;
    display: inline-flex;
    position: relative;
  }
  
  .home .prev {
    display: inline-flex;
    height: 43px;
    align-items: center;
    justify-content: center;
    padding: 25px;
    position: relative;
    flex: 0 0 auto;
    background-color: #f3f3f3;
    border: 1px solid;
    border-color: var(--muted-color);
  }
  
  .home .text-wrapper-5 {
    position: relative;
    width: fit-content;
    margin-top: -16.50px;
    margin-bottom: -14.50px;
    font-family: var(--h-5-font-family);
    font-weight: var(--h-5-font-weight);
    color: var(--muted-color);
    font-size: var(--h-5-font-size);
    text-align: center;
    letter-spacing: var(--h-5-letter-spacing);
    line-height: var(--h-5-line-height);
    white-space: nowrap;
    font-style: var(--h-5-font-style);
  }
  
  .home .element {
    height: 43px;
    align-items: center;
    justify-content: center;
    padding: 25px 20px;
    flex: 0 0 auto;
    background-color: #ffffff;
    border: 1px solid;
    border-color: #e8e8e8;
    display: inline-flex;
    position: relative;
  }
  
  .home .text-wrapper-6 {
    position: relative;
    width: fit-content;
    margin-top: -16.50px;
    margin-bottom: -14.50px;
    font-family: var(--h-5-font-family);
    font-weight: var(--h-5-font-weight);
    color: #0061ff;
    font-size: var(--h-5-font-size);
    text-align: center;
    letter-spacing: var(--h-5-letter-spacing);
    line-height: var(--h-5-line-height);
    white-space: nowrap;
    font-style: var(--h-5-font-style);
  }
  
  .home .element-2 {
    display: inline-flex;
    height: 43px;
    align-items: center;
    justify-content: center;
    padding: 25px 20px;
    position: relative;
    flex: 0 0 auto;
    background-color: #0061ff;
    border: 1px solid;
    border-color: #e8e8e8;
  }
  
  .home .text-wrapper-7 {
    position: relative;
    width: fit-content;
    margin-top: -16.50px;
    margin-bottom: -14.50px;
    font-family: var(--h-5-font-family);
    font-weight: var(--h-5-font-weight);
    color: var(--light-text-color);
    font-size: var(--h-5-font-size);
    text-align: center;
    letter-spacing: var(--h-5-letter-spacing);
    line-height: var(--h-5-line-height);
    white-space: nowrap;
    font-style: var(--h-5-font-style);
  }
  
  .home .next {
    display: inline-flex;
    height: 43px;
    align-items: center;
    justify-content: center;
    padding: 25px;
    position: relative;
    flex: 0 0 auto;
    background-color: #ffffff;
    border: 1px solid;
    border-color: #e8e8e8;
  }
  
  .home .mask-group-wrapper {
    position: absolute;
    width: 89px;
    height: 89px;
    top: 162px;
    left: 1241px;
    background-color: #0061ff;
    border-radius: 44.5px;
  }
  
  .home .mask-group {
    position: absolute;
    width: 75px;
    height: 75px;
    top: 7px;
    left: 7px;
  }
  
  .home .overlap-2 {
    position: absolute;
    width: 273px;
    height: 216px;
    top: 341px;
    left: 98px;
    background-color: #0061ff;
    border-radius: 20px;
    box-shadow: 0px 0px 20px 5px #5b5b5b1a;
  }
  
  .home .text-wrapper-8 {
    position: absolute;
    top: 46px;
    left: 41px;
    font-family: "Open Sans-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .home .text-wrapper-9 {
    position: absolute;
    top: 91px;
    left: 41px;
    font-family: "Open Sans-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 36px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .home .overlap-3 {
    position: absolute;
    width: 913px;
    height: 216px;
    top: 341px;
    left: 417px;
    background-color: #ffffff;
    border-radius: 20px;
  }
  
  .home .text-wrapper-10 {
    position: absolute;
    top: 91px;
    left: 47px;
    font-family: "Open Sans-SemiBold", Helvetica;
    font-weight: 600;
    color: #000000;
    font-size: 36px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .home .text-wrapper-11 {
    position: absolute;
    top: 40px;
    left: 47px;
    font-family: "Open Sans-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .home .group-wrapper {
    position: absolute;
    width: 84px;
    height: 84px;
    top: 73px;
    left: 682px;
    background-image: url(./img/rectangle-3.svg);
    background-size: 100% 100%;
  }
  
  .home .overlap-wrapper {
    position: relative;
    width: 35px;
    height: 35px;
    top: 26px;
    left: 25px;
  }
  
  .home .overlap-4 {
    position: relative;
    height: 35px;
  }
  
  .home .line {
    position: absolute;
    width: 5px;
    height: 35px;
    top: 0;
    left: 15px;
  }
  
  .home .img {
    position: absolute;
    width: 35px;
    height: 5px;
    top: 14px;
    left: 0;
  }
  
  .home .overlap-5 {
    position: absolute;
    width: 64px;
    height: 64px;
    top: 83px;
    left: 782px;
    background-color: #0061ff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #19918f;
  }
  
  .home .overlap-group-wrapper {
    position: relative;
    width: 33px;
    height: 35px;
    top: 15px;
    left: 13px;
  }
  
  .home .overlap-6 {
    position: relative;
    height: 35px;
    top: 1px;
    left: 1px;
  }
  
  .home .line-2 {
    position: absolute;
    width: 33px;
    height: 16px;
    top: 0;
    left: 0;
  }
  
  .home .line-3 {
    position: absolute;
    width: 14px;
    height: 34px;
    top: 1px;
    left: 18px;
  }
  
  .home .line-4 {
    position: absolute;
    width: 18px;
    height: 18px;
    top: 4px;
    left: 12px;
  }
  
  .home .line-5 {
    position: absolute;
    width: 16px;
    height: 12px;
    top: 11px;
    left: 0;
  }
  
  .home .line-6 {
    position: absolute;
    width: 11px;
    height: 16px;
    top: 19px;
    left: 12px;
  }
  
  .home .view {
    position: absolute;
    width: 38px;
    height: 38px;
    top: 97px;
    left: 411px;
    object-fit: cover;
  }
  
  .home .navbar {
    position: absolute;
    width: 1440px;
    height: 94px;
    top: 0;
    left: 0;
    background-color: #ffffff;
  }
  
  .home .vector-2 {
    position: absolute;
    width: 163px;
    height: 40px;
    top: 27px;
    left: 98px;
  }
  
  .home .paragraph-3 {
    position: absolute;
    top: 33px;
    left: 1171px;
    font-family: "Open Sans-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 16px;
    text-align: right;
    letter-spacing: 0.20px;
    line-height: 26px;
    white-space: nowrap;
  }
  
  .home .paragraph-4 {
    left: 1052px;
    font-family: "Open Sans-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    position: absolute;
    top: 33px;
    font-size: 16px;
    text-align: right;
    letter-spacing: 0.20px;
    line-height: 26px;
    white-space: nowrap;
  }
  
  .home .paragraph-5 {
    left: 917px;
    font-family: "Open Sans-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    position: absolute;
    top: 33px;
    font-size: 16px;
    text-align: right;
    letter-spacing: 0.20px;
    line-height: 26px;
    white-space: nowrap;
  }
  
  .home .paragraph-6 {
    left: 758px;
    font-family: "Open Sans-Bold", Helvetica;
    font-weight: 700;
    color: #0061ff;
    position: absolute;
    top: 33px;
    font-size: 16px;
    text-align: right;
    letter-spacing: 0.20px;
    line-height: 26px;
    white-space: nowrap;
  }
  
  .home .line-7 {
    position: absolute;
    width: 1px;
    height: 40px;
    top: 27px;
    left: 1272px;
    object-fit: cover;
  }
  
  .home .vector-3 {
    position: absolute;
    width: 28px;
    height: 28px;
    top: 33px;
    left: 1303px;
  }
  
  .home .text-wrapper-12 {
    position: absolute;
    width: 159px;
    top: 206px;
    left: 1059px;
    font-family: "Open Sans-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 16px;
    text-align: right;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .home .text-wrapper-13 {
    position: absolute;
    width: 159px;
    top: 182px;
    left: 1059px;
    font-family: "Open Sans-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 16px;
    text-align: right;
    letter-spacing: 0;
    line-height: normal;
  }