:root {
    --text-color: rgba(37, 43, 66, 1);
    --second-text-color: rgba(115, 115, 115, 1);
    --muted-color: rgba(189, 189, 189, 1);
    --light-text-color: rgba(255, 255, 255, 1);
    --light-background-color: rgba(255, 255, 255, 1);
    --h-5-font-family: "Montserrat", Helvetica;
    --h-5-font-weight: 700;
    --h-5-font-size: 16px;
    --h-5-letter-spacing: 0.10000000149011612px;
    --h-5-line-height: 24px;
    --h-5-font-style: normal;
  }